---
import WhatsIcon from '../../assets/vectors/whatsapp.svg';
---

<a
  href="https://wa.me/5562985083888"
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-4 right-4
    w-16 h-16
    rounded-full
    bg-white
    shadow-[0_8px_25px_rgba(0,0,0,0.3)]
    flex items-center justify-center
    z-50
    transition-transform duration-200
    hover:scale-105"
>
  <WhatsIcon class="w-7 h-7 fill-isaGreen transition hover:opacity-80 relative z-10 overflow-visible" />
</a>
