---
import DoctorPhoto from '../../assets/images/isadora-about.png';
const { id } = Astro.props;
---

<section {...id ? { id } : {}} class="scroll-mt-16 w-full pt-10 pb-20 bg-offWhite text-isaGreen">
  <div class="container mx-auto px-6 grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-20 items-center">
    <!-- IMAGE + DECORATIVE CIRCLE -->
    <div class="relative order-2 md:order-none flex justify-center w-full md:w-auto">
      <div class="relative">
        <div
          class="absolute top-1/2 left-1/2
            -translate-x-3/4 -translate-y-1/2
             rounded-full bg-isaPink/80
             w-[450px] h-[450px] lg:w-[650px] lg:h-[650px] z-0"
        >
        </div>

        <img
          src={DoctorPhoto.src}
          alt="Foto da Doutora"
          class="relative z-10 w-[350px] md:w-[400px] lg:w-[500px] block pointer-events-none"
        />
      </div>
    </div>

    <!-- TEXT -->
    <div class="order-1 md:order-none text-isaPink">
      <h2 class="text-3xl font-sans font-normal mb-6 text-center md:text-left">Sobre Mim</h2>

      <p class="font-urbanist text-lg leading-relaxed mb-4">
        Antes de ser médica, eu escolhi estar ao lado das mulheres nos seus momentos mais delicados, intensos e
        transformadores.
      </p>

      <p class="font-urbanist text-lg leading-relaxed mb-4">
        Sou ginecologista e especialista em Reprodução Humana, e é nesse encontro entre cuidado íntimo e ciência que
        encontrei meu propósito: acolher histórias, aliviar angústias e ajudar a construir novos começos.
      </p>

      <p class="font-urbanist text-lg leading-relaxed mb-4">
        Acredito no poder da informação clara, do cuidado atento e do respeito absoluto ao tempo e às emoções de cada
        paciente. Como fertileuta, caminho junto, com sensibilidade e responsabilidade. Ofereço o que a medicina tem de
        mais atual, sem perder o que o cuidado tem de mais essencial: presença, compreensão e esperança real.
      </p>

      <p class="font-urbanist text-lg leading-relaxed">
        Meu compromisso é que cada mulher se sinta vista, ouvida e segura. Porque quando escolhemos acolher com ciência
        e possibilitar novos começos, a jornada se torna mais leve, mais humana e mais possível.
      </p>
    </div>
  </div>
</section>
